.child {
	background: blue;
	width: 200px;
	height: 200px;
	color: white;
	font-size: 50px;
	display: flex;
	justify-content: center;

	align-items: center;
}

.parent {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* main axis */
	align-content: space-around;
	justify-content: space-around;
	height: 100vh;
}
